body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.jxgbox {
    border-radius: 0px,
    border: 1px solid black
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}



